/*.container{

    height:1300px;
}*/
.popupBlock {
  margin: 30px;
  align-items: flex-end;
  width: 200px;
  height: 300px;
}
.buttonClose {
  width: 20px;
  height: 30px;
}
.inside {
  background-color: rgb(185, 180, 180);
  height: 20px;
}
/*.carousel {
    height:600px;
}*/
.image {
  object-fit: contain;
}
.workingInfo {
  background-color: RGB(157, 155, 155);
}
.chat {
  background-color: rgb(255, 255, 255);
}
